.menu{
    height: 100%;
    background: #191a20;
	transition: all 0.3s ease;
	overflow: hidden;
    .logo{
        height: 55px;
		border-bottom: 2px solid #1d1e26;
		box-shadow: 2px 0 6px rgb(0 21 41 / 35%);
        span{
            font-size: 1.223rem;
			font-weight: bold;
			color: #dadada;
			white-space: nowrap;
        }
        img {
			width: 30px;
			object-fit: contain;
			margin-right: 8px;
		}
    }
    .el-scrollbar{
        height: calc(100% - 55px);
        .el-menu{
			flex: 1;
			overflow: auto;
			overflow-x: hidden;
			border-right: none;
            .el-menu-item {
				&.is-active {
					background-color: #060708;
				}
				&.is-active::before {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					width: 4px;
					background: var(--el-color-primary);
					content: "";
				}
			}
        }
    }
}